<h2>Buscar<h2>
<form method="get" action="/posts/search">
		<input type="text" id="busqueda" name="q" size='20' placeholder=<%= q %> />
  		<input name="commit" type="submit" value="Buscar" />

</form>
<%- include index.ejs %>
